@page
@model ECBook.App.Pages.ProfileModel
@{
    ViewData["Title"] = "Profile";
}

<div class="text-center">
    <h1>Profile</h1>
</div>

@if (Model.SelctedProfile != null)
{
    <div class="container post">
        <div class="row">
            <div class="col-3 text-start">@Model.SelctedProfile.FullName</div>
            <div class="col-6"></div>
            <div class="col-3 text-end">@Model.SelctedProfile.JobTitle</div>
        </div>
        @if (Model.SelctedProfile.LatestPost != null)
        {
            <div class="row">
                <div class="col-9"></div>
                <div class="col-3 text-end">@Model.SelctedProfile.LatestPost.DateTimePosted.ToString("dd-MM-yyyy hh:mm")</div>
            </div>
            <div class="row post-context">
                <div class="col-12 text-center">@Model.SelctedProfile.LatestPost.Content</div>
            </div>
        }
    </div>
}

