@page
@model ECBook.App.Pages.ProfileModel
@{
    ViewData["Title"] = "Profile";
}

<h1 class="text-center">Profile</h1>

@if (Model.SelctedProfile != null)
{
    <div class="container shadow-sm p-3 mb-5 bg-body-tertiary rounded">
        <div class="row column-gap-3">
            <div class="col text-start ms-1">@Model.SelctedProfile.FullName</div>
            <div class="col text-end me-1">JobTitle: @Model.SelctedProfile.JobTitle</div>
        </div>
        @if (Model.SelctedProfile.LatestPost != null)
        {
            <div class="border mt-5 row-gap-2">
                <div class="row me-2">
                    <div class="col text-start">Latest post on: @Model.SelctedProfile.LatestPost.DateTimePosted.ToString("dd-MM-yyyy hh:mm")</div>
                </div>
                <div class="row me-2">
                    <div class="col text-center">@Model.SelctedProfile.LatestPost.Content</div>
                </div>
            </div>
        }
    </div>
}

